# 阿里云百炼 API Key（通义千问 VL-Max）
DASHSCOPE_API_KEY=sk-f4728f395658498e85dd163aeef44bfc

# 高德地图 JS API Key（在 https://lbs.amap.com 申请）
VITE_AMAP_KEY=236de7dff6429bcc3964c90b1b245d5d

# 高德地图安全密钥（2021年12月后申请的Key需要配置安全密钥）
VITE_AMAP_SECURITY_CODE=79725e06f513687cb79a11ac2c9ccbf9
